<div class="events-week">
  <div class="ion-padding">

    <app-day-card
        [dayNum]="0"
        [firstDayOfWeek]="firstDayOfWeek">
    </app-day-card>

    <app-day-card
        [dayNum]="1"
        [firstDayOfWeek]="firstDayOfWeek">
    </app-day-card>

    <app-day-card
        [dayNum]="2"
        [firstDayOfWeek]="firstDayOfWeek">
    </app-day-card>

    <app-day-card
        [dayNum]="3"
        [firstDayOfWeek]="firstDayOfWeek">
    </app-day-card>

    <app-day-card
        [dayNum]="4"
        [firstDayOfWeek]="firstDayOfWeek">
    </app-day-card>

    <app-day-card
        [dayNum]="5"
        [firstDayOfWeek]="firstDayOfWeek">
    </app-day-card>

    <app-day-card
        [dayNum]="6"
        [firstDayOfWeek]="firstDayOfWeek">
    </app-day-card>

  </div>
</div>