<!--<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>My Navigation Bar</ion-title>
  </ion-toolbar>
</ion-header>-->
<ion-content>
  <div class="event-component">
    <div class="ion-padding">
      <ion-textarea rows="3" class="input-description" placeholder="Enter description" [(ngModel)]="eventDescription"></ion-textarea>
    </div>
    <div>
      <ion-item>
        <ion-label>Is Done?</ion-label>
        <ion-toggle [(ngModel)]="isDone"></ion-toggle>
      </ion-item>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="buttons-area">
      <div class="ion-padding buttons-div">
        <ion-button class="button-item" ion-button round color="danger" (click)="goBack()">Cancel</ion-button>
        <ion-button class="button-item" ion-button round color="secondary" (click)="saveEvent()" >Save</ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>