ion-toolbar {
  min-height: 12.5vh;
  justify-content: center;
  display: flex;
}
.slyde-styles {
  height: auto;
}

.week-container {
  height: 100%;
  width: 100%;
}
.my-custom-menu {
  --width: 80%;
}
.dates-header-string {
  height: 100%;
  width: 106%;
  text-align: center;
  font-stretch: condensed;
  font-size: 4.5vw;

  @media (orientation:landscape) {
    font-size: 4.5vh;
  }
}
.header-button {
  height: 4.5vh;
  width: 4.5vh;

  @media (orientation:landscape) {
    height: 4.5vw;
    width: 4.5vw;
  }
}
.calendar {
  display: none;
}
.menu-item {
  height: 11vh;
  font-size: 6vw;

  @media (orientation:landscape) {
    font-size: 5vh;
  }
  @media (min-height: 1000px) {
    font-size: 3.8vw;
  }
  @media (min-height: 700px) and(min-width: 1000px) {
    font-size: 3.5vw;
  }
  @media (min-height: 1000px) and(min-width: 1200px) {
    font-size: 2.5vw;
  }
}
.first-menu-element {
  margin-top: 5vh;
}
.menu-title {
  width: auto;
  font-size: 7vw;

  @media (orientation:landscape) {
    font-size: 6vh;
  }
  @media (min-height: 1000px) {
    font-size: 4.5vw;
  }
  @media (min-height: 700px) and(min-width: 1000px) {
    font-size: 3.5vw;
  }
  @media (min-height: 1000px) and(min-width: 1200px) {
    font-size: 2.5vw;
  }
}
.dates-container {
  display: flex;
}