ion-toolbar {
  min-height: 12.5vh;
  justify-content: center;
  display: flex;
}
.slyde-styles {
  height: auto;
}

.week-container {
  height: 100%;
  width: 100%;
}
.my-custom-menu {
  --width: 80%;
}
.dates-header-string {
  font-size: smaller;
  height: 100%;
  width: 106%;
  text-align: center;

  @media (min-height: 600px) {
    font-size: medium;
  }
  @media (min-height: 800px) {
    font-size: large;
  }
  @media (min-height: 1000px) {
    font-size: x-large;
  }
  @media (min-height: 1200px) {
    font-size: xx-large;
  }
}
.header-button {
  height: 4.5vh;
  width: 4.5vh;
}
.calendar {
  display: none;
}
.menu-item {
  height: 11vh;
  @media (min-height: 600px) {
    font-size: larger;
  }
  @media (min-height: 800px) {
    font-size: larger;
  }
  @media (min-height: 1000px) {
    font-size: x-large;
  }
  @media (min-height: 1200px) {
    font-size: xx-large;
  }
}
.first-menu-element {
  margin-top: 5vh;
}
.menu-title {
  width: auto;

  @media (min-height: 600px) {
    font-size: larger;
  }
  @media (min-height: 800px) {
    font-size: x-large;
  }
  @media (min-height: 1000px) {
    font-size: x-large;
  }
  @media (min-height: 1200px) {
    font-size: xx-large;
  }
}
.dates-container {
  display: flex;
}