<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button autoHide="true" class="header-button" style="display: none" id="menuButton"></ion-menu-button>
    <ion-button (click)="clickMenu()">
      <ion-icon name="menu" class="header-button"></ion-icon>
    </ion-button>
  </ion-buttons>

  <ion-title class="dates-header-string">{{mondayString}} - {{sundayString}}</ion-title>

  <ion-buttons slot="end">
    <ion-button (click)="changeDate(true, null)">
      <ion-icon slot="icon-only" name="calendar" class="header-button"></ion-icon>
    </ion-button>
  </ion-buttons>

</ion-toolbar>


<ion-menu style="z-index: inherit;" side="start" menuId="first">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title class="menu-title">Notes Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item class="menu-item first-menu-element" (click)="goHome()">
        <ion-icon slot="start" name="home"></ion-icon>
        Home
      </ion-item>
      <ion-item class="menu-item" (click)="changeDate(false, null)">
        <ion-icon slot="start" name="calendar"></ion-icon>
        Calendar
      </ion-item>
      <ion-item class="menu-item" (click)="openCasesManager()">
        <ion-icon slot="start" name="appstore"></ion-icon>
        Manage Cases
      </ion-item>
      <ion-item class="menu-item" (click)="openStandingTasksPage()">
        <ion-icon slot="start" name="archive"></ion-icon>
        Standing Tasks
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet main></ion-router-outlet>

<ion-content>

  <ion-slides #slides (ionSlideDidChange)="slideChanged(false)" pager="false" [options]="slideOpts" style="height: 100%;">

    <ion-slide class="slide-styles" *ngFor="let firstDayOfCurrentWeek of firstDaysOfWeeks let i = index">

      <app-week-container class="week-container" [firstDayOfWeek]="firstDayOfCurrentWeek">
      </app-week-container>

    </ion-slide>

  </ion-slides>

</ion-content>
