<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-button (click)="goBack()">
            <ion-icon name="arrow-back" class="back-button"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-title class="header-string">Case Manager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item lines="none" class="case-item-container">
        <ion-checkbox [(ngModel)]="allCasesMarked" slot="start" (ionChange)="markAllCases()" class="case-item-icon"></ion-checkbox>
        <ion-buttons class="buttons-class">
            <ion-button (click)="deleteSelectedCases()">
                <ion-icon name="trash" class="case-item-icon"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-label class="case-item header-label">
            {{numberOfCases}} Cases Created
        </ion-label>
        <ion-buttons slot="end" class="buttons-class">
            <ion-button (click)="createNewCase()">
                <ion-icon name="add" class="case-item-icon"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-item>

    <ion-item-group *ngFor="let dateString of casesMapKeys let i = index">
      <ion-item-divider (click)="switchDay(i)" color="light" *ngIf="casesMap[dateString].length > 0" class="case-item-container">
        <ion-label class="date-string">
          {{dateString | formatDateString}}
        </ion-label>
      </ion-item-divider>

      <div *ngIf="switchedDays[i]">
        <ion-item lines="none" *ngFor="let case of casesMap[dateString]" class="case-item-container">

          <ion-checkbox slot="start" [(ngModel)]="markedCases[case.id]" class="case-item-icon"></ion-checkbox>

          <ion-label class="case-item {{case.isFinished ? 'finishedCases' : ''}}">{{case.description}}</ion-label>

            <ion-buttons>
              <ion-button (click)="showMenu($event, case)">
                <ion-icon slot="icon-only" name="more" class="case-item-icon"></ion-icon>
              </ion-button>
            </ion-buttons>

        </ion-item>
      </div>
    </ion-item-group>
  </ion-list>

</ion-content>
