.add-task-button {
  margin-top: 25%;
  display: flex;
  justify-content: center;
}
.reorder-button {
  margin-right: 3.5%;
}
.overflow-visible {
  overflow: hidden;
  white-space: initial;
}