ion-toolbar {
  min-height: 12.5vh;
  justify-content: center;
  display: flex;

  @media (orientation:landscape) {
    min-height: 8.5vw;
  }
}
.add-task-button {
  margin-top: 1%;
  display: flex;
  justify-content: center;
}
.add-button-class {
  height: 7vh;
  font-size: 2.3vh;

  @media (orientation:landscape) {
    height: 5.5vw;
    font-size: 1.8vw;
  }
}
.overflow-visible {
  overflow: hidden;
  white-space: initial;
  font-size: 2.5vh;

  @media (orientation:landscape) {
    font-size: 2.2vw;
  }
}
.task-item {
  overflow: scroll;
  height: 8vh;
}
.back-button {
  height: 4.5vh;
  width: 8vw;

  @media (orientation:landscape) {
    height: 8vh;
    width: 4.5vw;
  }
}
.header-string {
  text-align: center;
  font-size: 3vh;

  @media (orientation:landscape) {
    font-size: 3vw;
  }
}
.reorder-button {
  margin-right: 3.5%;
  z-index: 10000;
}
.item-button {
  height: 4.5vh;
  width: 4.5vh;

  @media (orientation:landscape) {
    height: 4.5vw;
    width: 4.5vw;
  }
}
