<ion-header>
  <ion-toolbar class="tool-bar-class">

    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back" class="back-button"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title *ngIf="areChangesDisabled" class="header-string">
      Standing Tasks
    </ion-title>
    <ion-title *ngIf="!areChangesDisabled" class="header-string">
      Change Records
    </ion-title>

    <div slot="end" class="reorder-button header-string">
      <a (click)="switchReorderState()" *ngIf="areChangesDisabled">
        Change
      </a>
      <a (click)="switchReorderState(true)" *ngIf="!areChangesDisabled">
        Done
      </a>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-reorder-group [disabled]="areChangesDisabled">

    <ion-item *ngFor="let task of standingTasks; let i = index">
      <p class="overflow-visible task-item" *ngIf="areChangesDisabled">
        {{task.description}}
      </p>

      <ion-textarea
        class="overflow-visible"
        *ngIf="!areChangesDisabled"
        style="text-align: center;"
        #myInput id="myInput"
        (keyup)="resize($event)"
        rows="3"
        [(ngModel)]="task.description"
        [readonly]="areChangesDisabled"
      >
      </ion-textarea>
      <ion-reorder slot="start" class="item-button"></ion-reorder>
      <ion-buttons slot="end" *ngIf="!areChangesDisabled">
        <ion-button (click)="preventClosure(task)">
          <ion-icon name="trash" class="item-button"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>

    </ion-reorder-group>
  </ion-list>

</ion-content>

<ion-footer class="tool-bar-class">
  <ion-toolbar>
    <div class="add-task-button">
      <ion-button round="true" large shape="round" class="add-button-class" (click)="presentTaskPrompt()">
        Add New Task
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>
