.day-card-container {
  min-height: 13%;
}
.day-card {
  margin: 0.8vh 0.1vw 0vh 0.1vw;
  background-color: #ffffff9e;
  height: 11vh;
  display: flex;
  width: 100%;
}

.common-day-class {
  width: min-content;
  display: flex;
  align-items: center;
  margin: 0vh 1vw 0vh 1vw;
}
.day-date {
  width: 18%;
  font-size: 4.5vw;

  @media (orientation:landscape) {
    font-size: 4.5vh;
  }
}
.add-button {
  height: 6vh;
  width: 6vw;
}
.day-progress {
  width: 100%;
  font-size: small;
  display: grid;
}
.day-progress-text {
  text-align: center;
  font-size: 4.5vw;

  @media (orientation:landscape) {
    font-size: 4.5vh;
  }
}
.cases-list {
  width: 100%;
  margin:  0vh 0.1vw 0vh 0.1vw;
  background: #ffffff;
}
.case-item {
  display: flex;
  border: 1px solid bisque;
  height: 11vh;

  @media (max-height: 500px) and (min-width: 550px) {
    height: 17vh;
  }
  @media (max-height: 400px) and (min-width: 600px) {
    height: 16vh;
  }
  @media (max-height: 500px) and (min-width: 600px) {
    height: 15vh;
  }
}
.toggle-class {
  margin-top: 3vh;

  @media (max-width: 350px) {
    margin-left: -18%;
  }
  @media (max-width: 280px) {
    margin-left: -31%;
  }
}
.case-item-description {
  width: 73%;
  line-height: 1rem;
  position: relative;
}
.description-text {
  font-size: inherit;
  overflow: scroll;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 67%;
  margin: auto;
  font-size: 4.2vw;
  padding-top: 0.5vh;
  line-height: 2.2vh;

  @media (orientation:landscape) {
    font-size: 4.2vh;
  }
  @media (max-height: 500px) {
    line-height: 0.75rem;
  }
  @media (min-height: 1000px) {
    font-size: 3.2vw;
  }
  @media (min-height: 700px) and(min-width: 1000px) {
    font-size: 2.2vw;
  }
}
.check-box-item {
  width: 26vw;
}
.center-align {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-button {
  width: 27%;
}
.cases-label {
  margin-left: 12%;
}
.menu {
  width: 120px;
  box-shadow: 0 4px 5px 3px rgba(0, 0, 0, 0.2);
  position: relative;
  display: none;

  .menu-options {
    list-style: none;
    padding: 10px 0;

    .menu-option {
      font-weight: 500;
      font-size: 14px;
      padding: 10px 40px 10px 20px;
      cursor: pointer;

      &:hover {
        background: rgba(0, 0, 0, 0.2);
      }
    }
  }
}

.date-picker {
  display: none;
}
