<div class="day-card-container">
  <div class="day-card" (click)="switchShowCasesMode()">
    <div class="common-day-class day-date">
      <i>
        {{date | dateFormat}}
      </i>
    </div>
    <div class="common-day-class day-progress">
      <div class="day-progress-text" *ngIf="isLoaded">
          {{message}}
      </div>
      <div>
        <ion-progress-bar color="{{progressStatus}}" value="{{progress}}" *ngIf="isLoaded"></ion-progress-bar>
      </div>
    </div>
    <div class="common-day-class">
      <ion-buttons>
        <ion-button ion-button round icon-only (click)="redirectToCasePage(true, null)">
          <ion-icon name="add" large class="add-button"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
  </div>

  <div class="cases-list" *ngIf="showCases">
    <div *ngFor="let case of cases">
      <div>
        <div class="case-item">
          <div class="check-box-item">
            <ion-item lines="none">
              <ion-toggle color="primary" slot="start" [(ngModel)]="case.isFinished" (ionChange)="updateCase(case)" class="toggle-class"></ion-toggle>
            </ion-item>
          </div>
          <div class="case-item-description center-align">
            <div class="description-text">
              <i>
                {{case.description}}
              </i>
            </div>
          </div>
          <div class="center-align menu-button">
            <div>
              <ion-buttons>
                <ion-button (click)="showMenu(case)">
                  <ion-icon slot="icon-only" name="more" style="margin-right: 10%;"></ion-icon>
                </ion-button>
              </ion-buttons>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="date-picker">
    <ion-item lines="none">
      <ion-label></ion-label>
      <ion-icon name="calendar"></ion-icon>
      <ion-datetime
        id="datePicker"
        display-format="none" picker-format="DD MMM, YYYY"
        [(ngModel)]="caseDateS" (ionChange)="changeDate()"
      ></ion-datetime>
    </ion-item>
  </div>

</div>