<div>
  <div class="day-card">
    <div class="common-day-class day-date">
      <i>
        {{date | dateFormat}}
      </i>
    </div>
    <div class="common-day-class day-progress">
      <div class="day-progress-text">
        {{message}}
      </div>
      <div>
        <ion-progress-bar color="{{progressStatus}}" value="{{progress}}"></ion-progress-bar>
      </div>
    </div>
    <div class="common-day-class">
      <ion-button ion-button round icon-only (click)="redirectToEventPage(true)">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </div>
  </div>

  <div class="events-list">
    <div *ngFor="let event of events">
      <div >
        <div class="event-item">
          <div class="check-box-item">
            <ion-item>
              <ion-toggle color="primary" slot="start" [(ngModel)]="event.isDone" (ionChange)="markEventAsDone(event)"></ion-toggle>
            </ion-item>
          </div>
          <div class="event-item-description center-align">
            <div>
              <i>
                {{event.description}}
              </i>
            </div>
          </div>
          <div class="center-align menu-button">
            <div>

              <ion-button (click)="showMenu(event)">
                <ion-icon name="menu"></ion-icon>
              </ion-button>
              <!--<div class="menu">-->
              <!--<ul class="menu-options">-->
              <!--<li class="menu-option">Back</li>-->
              <!--<li class="menu-option">Reload</li>-->
              <!--<li class="menu-option">Save</li>-->
              <!--<li class="menu-option">Save As</li>-->
              <!--<li class="menu-option">Inspect</li>-->
              <!--</ul>-->
              <!--</div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>