<div>
  <div class="day-card" (click)="switchShowEventsMode()">
    <div class="common-day-class day-date">
      <i>
        {{date | dateFormat}}
      </i>
    </div>
    <div class="common-day-class day-progress">
      <div class="day-progress-text" *ngIf="isLoaded">
        {{message}}
      </div>
      <div>
        <ion-progress-bar color="{{progressStatus}}" value="{{progress}}" *ngIf="isLoaded"></ion-progress-bar>
      </div>
    </div>
    <div class="common-day-class">
      <ion-button ion-button round icon-only (click)="redirectToEventPage(true)">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </div>
  </div>

  <div class="events-list" *ngIf="showEvents">
    <div *ngFor="let event of events">
      <div >
        <div class="event-item">
          <div class="check-box-item">
            <ion-item>
              <ion-toggle color="primary" slot="start" [(ngModel)]="event.isDone" (ionChange)="updateEvent(event)"></ion-toggle>
            </ion-item>
          </div>
          <div class="event-item-description center-align">
            <div class="description-text">
              <i>
                {{event.description}}
              </i>
            </div>
          </div>
          <div class="center-align menu-button">
            <div>
              <ion-button (click)="showMenu(event)">
                <ion-icon name="menu"></ion-icon>
              </ion-button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="date-picker">
    <ion-item>
      <ion-label></ion-label>
      <ion-icon name="calendar"></ion-icon>
      <ion-datetime
        id="datePicker"
        display-format="none" picker-format="DD MMM, YYYY"
        [(ngModel)]="eventDateS" (ionChange)="changeDate()"
      ></ion-datetime>
    </ion-item>
  </div>

</div>