.case {
  height: 100%;
}
.input-description {
  width: 100%;
  border: 1.3px solid greenyellow;
  border-radius: 8px;
  background-color: #ffffffa3;
}
.case-component {
  background-color: #a2a4ab30;
  height: 100%;
}
.buttons-area {
  display: flex;
  justify-content: center;
}
.buttons-div {
  display: inline-block;
}
.button-item {
  width: 30vw;
  height: 6.5vh;
  margin-right: 3vh;
  margin-left: 3vh;
  font-size: 2.2vh;

  @media (orientation:landscape) {
    width: 26vw;
    height: 4.5vw;
    margin-bottom: 2.1vw;
    font-size: 2.2vw;
  }
}
.text-area-element {
  padding: 3% !important;
}
.input-element {
  padding: 1%;
  height: 27vh;
  font-size: 5vw;

  @media (orientation:landscape) {
    font-size: 5vh;
  }
}
.date {
  width: 100%;
}
.input-label {
  font-stretch: condensed;
  font-size: 5vw;

  @media (orientation:landscape) {
    font-size: 5vh;
  }
}
.dates-string {
  text-align: center;
  margin-right: 12%;
  font-stretch: condensed;
  font-size: 5vw;
  font-weight: bold;

  @media (orientation:landscape) {
    font-size: 5.5vh;
  }
}
.back-button {
  height: 4.5vh;
  width: 8vw;

  @media (orientation:landscape) {
    height: 8vh;
    width: 4.5vw;
  }
}
.case-header {
  height: 12.5vh;
  justify-content: center;
  display: flex;
}
.case-footer {
  height: 12.5vh;
  justify-content: center;
  display: flex;
}