<ion-header class="case-header">
  <ion-toolbar class="case-header">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back" class="back-button"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="dates-string">{{displayDate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="case">
    <div class="ion-padding case">
      <ion-textarea rows="3" class="input-description input-element" placeholder="Enter description"
                    [(ngModel)]="caseDescription">
      </ion-textarea>
      <div class="date-time">
        <ion-item class="date">
          <ion-label class="input-label">{{displayDate}}</ion-label>
          <ion-icon name="calendar" slot="end" class="back-button"></ion-icon>
          <ion-datetime
                  display-format="none" picker-format="DD MMM, YYYY"
                  [(ngModel)]="caseDateS" (ionChange)="changeDate()"
          ></ion-datetime>
        </ion-item>
      </div>
      <div>
        <ion-item class="input-element">
          <ion-label class="input-label">Is Done?</ion-label>
          <ion-toggle [(ngModel)]="isFinished"></ion-toggle>
        </ion-item>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer class="case-footer">
  <ion-toolbar class="case-footer">
    <div class="buttons-area">
      <div class="ion-padding buttons-div">
        <ion-button class="button-item" ion-button round color="danger" (click)="goBack()">Cancel</ion-button>
        <ion-button class="button-item" ion-button round color="secondary" (click)="saveCase()" >Save</ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>