<ion-header class="case-header">
  <ion-toolbar class="case-header">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back" class="back-button"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="dates-string">{{displayDate}}</ion-title>
    <ion-buttons *ngIf="id" slot="end">
      <ion-button (click)="showDeleteAlert()">
        <ion-icon name="trash" class="back-button"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="case">
    <div class="ion-padding case">
      <ion-textarea rows="3" class="input-description input-element text-area-element"
                    placeholder="{{'Enter description' | translatePhrase}}"
                    [(ngModel)]="caseDescription">
      </ion-textarea>

      <ion-list>

        <ion-item lines="none" class="date">
          <ion-label class="input-label">{{displayDate}}</ion-label>
          <ion-icon name="calendar" slot="end" class="back-button"></ion-icon>
          <ion-datetime
            display-format="none" picker-format="DD MMM, YYYY"
            [(ngModel)]="caseDateS" (ionChange)="changeDate()"
            cancelText="{{'Cancel' | translatePhrase}}"
            doneText="{{'Done' | translatePhrase}}"
            monthShortNames="{{monthNames}}"
          ></ion-datetime>
        </ion-item>

        <ion-item lines="none" style="padding: 0px;">
          <ion-label class="input-label">{{'Set Time' | translatePhrase}}?</ion-label>
          <ion-toggle [(ngModel)]="showTime" slot="end"></ion-toggle>
        </ion-item>

        <ion-item lines="none" *ngIf="showTime" class="date">
          <ion-label class="input-label">{{caseTime}}</ion-label>
          <ion-icon name="calendar" slot="end" class="back-button"></ion-icon>
          <ion-datetime
            display-format="none" picker-format="HH:mm"
            [(ngModel)]="caseTimeS" (ionChange)="changeTime()"
            cancelText="{{'Cancel' | translatePhrase}}"
            doneText="{{'Done' | translatePhrase}}"
          ></ion-datetime>
        </ion-item>

        <ion-item lines="none" class="input-element" style="padding: 0px;">
          <ion-label class="input-label">{{ 'Is Completed' | translatePhrase}}?</ion-label>
          <ion-toggle [(ngModel)]="isFinished" slot="end"></ion-toggle>
        </ion-item>

      </ion-list>

    </div>
  </div>
</ion-content>

<ion-footer class="case-footer">
  <ion-toolbar class="case-footer">
    <div class="buttons-area">
      <div class="ion-padding buttons-div">
        <ion-button class="button-item" ion-button round color="danger" (click)="goBack()">
          {{'Cancel' | translatePhrase}}
        </ion-button>
        <ion-button class="button-item" ion-button round color="secondary" (click)="saveCase()" >
          {{'Save' | translatePhrase}}
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-footer>