<ion-toolbar>
  <ion-buttons slot="start">
    <ion-menu-button autoHide="false"></ion-menu-button>
  </ion-buttons>

  <ion-buttons slot="secondary">
    <ion-button (click)="changeDate()">
      <ion-icon slot="icon-only" name="calendar"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-title class="dates-string">{{mondayString}} - {{sundayString}}</ion-title>
</ion-toolbar>


<ion-menu side="start" menuId="first">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Diary Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="closeMenu()">
        <ion-icon slot="start" name="home"></ion-icon>
        Home
      </ion-item>
      <ion-item (click)="changeDate()">
        <ion-icon slot="start" name="calendar"></ion-icon>
        Calendar
      </ion-item>
      <ion-item (click)="openEventsManager()">
        <ion-icon slot="start" name="browsers"></ion-icon>
        Manage Events
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet main></ion-router-outlet>

<ion-content>

  <ion-slides #slides (ionSlideDidChange)="slideChanged()" pager="false" [options]="slideOpts">

    <ion-slide *ngFor="let firstDayOfCurrentWeek of firstDaysOfWeeks let i = index">

      <app-week-container [firstDayOfWeek]="firstDayOfCurrentWeek">
      </app-week-container>

    </ion-slide>

  </ion-slides>

</ion-content>
