<div class="cases-week">
  <div class="ion-padding cards-container">

    <app-day-card
        [dayNum]="0"
        [firstDayOfWeek]="firstDayOfWeek"
        [slideNumber] = "slideNumber"
    >
    </app-day-card>

    <app-day-card
        [dayNum]="1"
        [firstDayOfWeek]="firstDayOfWeek"
        [slideNumber] = "slideNumber"
    >
    </app-day-card>

    <app-day-card
        [dayNum]="2"
        [firstDayOfWeek]="firstDayOfWeek"
        [slideNumber] = "slideNumber"
    >
    </app-day-card>

    <app-day-card
        [dayNum]="3"
        [firstDayOfWeek]="firstDayOfWeek"
        [slideNumber] = "slideNumber"
    >
    </app-day-card>

    <app-day-card
        [dayNum]="4"
        [firstDayOfWeek]="firstDayOfWeek"
        [slideNumber] = "slideNumber"
    >
    </app-day-card>

    <app-day-card
        [dayNum]="5"
        [firstDayOfWeek]="firstDayOfWeek"
        [slideNumber] = "slideNumber"
    >
    </app-day-card>

    <app-day-card
        [dayNum]="6"
        [firstDayOfWeek]="firstDayOfWeek"
        [slideNumber] = "slideNumber"
    >
    </app-day-card>

  </div>
</div>